<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Import vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Import Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Import uuidv1 -->
    <script type="text/javascript" src="https://unpkg.com/uuidv1/uuidv1.js"></script>
    <!-- Import Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <title>APP 1.0</title>

    <style>
        #app {
            padding: 1%;
        }
    </style>

</head>

<body>

    <div id="app">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead">
                        <tr>
                            <th scope="col"> Key</th>
                            <th scope="col"> Company</th>
                            <th scope="col"> Topic </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> Telegram </th>
                            <th scope="col"> Teams </th>
                            <th scope="col"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="data in data" v-bind:key="data.event_key">
                            <td> {{ data.event_key }} </td>
                            <td> {{ data.company_name }} </td>
                            <td> {{ data.topic }} </td>
                            <!-- Mostramos un icono dependiendo del enabled -->
                            <td v-if="data.email.enabled"><i class="fa fa-check-square-o" aria-hidden="true"
                                    style="color: green;"></i></i></td>
                            <td v-if="!data.email.enabled"><i class="fa fa-window-close-o" aria-hidden="true"
                                    style="color: red;"></i></td>
                            <td v-if="data.telegram.enabled"><i class="fa fa-check-square-o" aria-hidden="true"
                                    style="color: green;"></i></i></td>
                            <td v-if="!data.telegram.enabled"><i class="fa fa-window-close-o" aria-hidden="true"
                                    style="color: red;"></i></td>
                            <td v-if="data.teams.enabled"><i class="fa fa-check-square-o" aria-hidden="true"
                                    style="color: green;"></i></i></td>
                            <td v-if="!data.teams.enabled"><i class="fa fa-window-close-o" aria-hidden="true"
                                    style="color: red;"></i></td>
                            <td>
                                <!-- eliminarAlarma ahora la utilizamos para pasar información sobre el registro que queremos borrar -->
                                <button v-on:click="showSend = false" @click="editarAlarma(data)"
                                    class="btn btn-success btn-sm" data-toggle="modal" data-target="#formModal"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button type="button" @click="eliminarAlarma(data)" class="btn btn-danger btn-sm"
                                    data-toggle="modal" data-target="#deleteModal">
                                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Al darle a nuevo vamos al modal del formulario y reseteamos los campos -->
            <div class="nuevo"><button class="btn btn-success" @click="resetForm" v-on:click="showSend = true"
                    data-toggle="modal" data-target="#formModal">Nuevo</button>
            </div>
        </div>


        <!-- Delete Modal -->
        <div class="modal" id="deleteModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align: center;">CONFIRMAR BORRADO</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- Gracias a la información que pasamos en eliminarAlarma podemos sacar el nombre de la compañia que queremos borrar  -->
                        ¿Estás seguro de que deseas borrar el registro de la compañía {{this.nameDelete}}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" @click="confirmarBorrado" class="btn btn-success"
                            data-dismiss="modal">Confirmar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Modal -->
        <div class="modal" id="formModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align: center;">{{this.headForm}}</h4>
                    </div>

                    <div class="modal-body">
                        <form class="well form-horizontal" id="regForm">
                            <fieldset>

                                <!-- Event_key (disabled/readonly) -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Event Key</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <input v-model="message.event_key" placeholder="Event Key"
                                                class="form-control" type="text" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Company name -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Company Name</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <input v-model="message.company_name" placeholder="Company Name"
                                                class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- Topic -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Topic</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <input v-model="message.topic" placeholder="Topic" class="form-control"
                                                type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- Checkbox + Email input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Activar alerta por Email</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" v-model="message.email.enabled"
                                                    class="form-check-input" @click="message.email.enabled = true">
                                            </span>
                                            <input v-model="message.email.send_to" placeholder="E-Mail Address"
                                                class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- Checkbox + Telegram input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Activar alerta por Telegram</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" v-model="message.telegram.enabled"
                                                    class="form-check-input" @click="message.telegram.enabled = true">
                                            </span>
                                            <input v-model="idTelegram" placeholder="Telegram ID/s" class="form-control"
                                                type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- Checkbox + Teams input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Activar alerta por Teams</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" v-model="message.teams.enabled"
                                                    class="form-check-input" @click="message.teams.enabled = true">
                                            </span>
                                            <input v-model="message.teams.send_to" placeholder="Teams Address"
                                                class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div> <!-- /.modalBody -->

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <!-- Se mostrará el botón de enviar si le damos a nuevo y se mostrará el de guardar si damos a editar -->
                        <button type="submit" class="btn btn-success" v-if="showSend" @click="valid"
                            data-dismiss="modal">Enviar</button>
                        <button type="submit" class="btn btn-success" v-if="!showSend" @click="valid"
                            data-dismiss="modal">Guardar</button>
                        <button v-on:click="showSend = false" class="btn btn-danger" @click="resetForm"
                            data-dismiss="modal">Cerrar</button>
                    </div>
                </div> <!-- /.modalContent -->
            </div> <!-- /.modalDialog -->
        </div> <!-- /.formModal -->
    </div> <!-- /.app -->

    <script>

        new Vue({
            el: '#app',
            data: {
                //en este data está la información obtenida con el get   
                data: '',
                //lo usamos como plantilla para crear una nueva alarma
                message: {
                    event_key: '',
                    topic: '',
                    company_name: '',
                    email: {
                        enabled: false,
                        send_to: ''
                    },
                    telegram: {
                        enabled: false,
                        send_to: [
                        ]
                    },
                    teams: {
                        enabled: false,
                        send_to: ''
                    }
                },
                //Para guardar la ID de telegram y luego pasarla al array
                idTelegram: '',
                //Para guardar la posición que queremos borrar/editar
                indexDelete: '',
                indexEdit: '',
                //Para mostrar el mensaje en el modal del registro que queremos borrar
                nameDelete: '',
                //Para ver qué mensaje mostrar si se le da a nuevo o a editar
                headForm: '',
                // Para comprobar si mostramos el formulario y qué botón aparece
                showSend: false,
            },
            created: function () {
                //Aquí crear el formulario de registro de inicio, comprobarlo con user y pass a pelo y despues, si es correcto, abrir el mounted
                this.mounted();
            },
            methods: {
                separarID() {
                    this.message.telegram.send_to = this.idTelegram.split(',')
                },
                generarUUID() {
                    var uuidv1 = require('uuidv1')
                    //generamos un uuid único y se lo asignamos a message.event_key
                    this.message.event_key = uuidv1();
                },
                eliminarAlarma(key) {
                    console.log(key);
                    this.indexDelete = this.data.indexOf(key);
                    this.nameDelete = this.data[this.indexDelete].company_name
                },
                async confirmarBorrado() {
                    try {
                        //función de lodash
                        // let index = _.findIndex(this.data, { event_key: this.message.event_key });
                        if (this.indexDelete >= 0) {
                            this.data.splice(this.indexDelete, 1)
                            //una posible opción es mandar el data modificado con la posición ya borrada como un post normal, pero todo depende de cómo esté montado
                            var res = await axios.post('https://alarmas.iniciasoluciones.es/vue-rest/post', this.data)
                            this.mounted();
                        } else {
                            console.log('No encuentra esa key')
                        }
                    } catch (err) {
                        console.log(err)
                    }
                },
                editarAlarma(key) {
                    //para saber en qué posición le he dado a editar repintar los campos                                    
                    this.indexEdit = this.data.indexOf(key)
                    this.message.event_key = this.data[this.indexEdit].event_key
                    this.message.topic = this.data[this.indexEdit].topic
                    this.message.company_name = this.data[this.indexEdit].company_name
                    this.message.email.enabled = this.data[this.indexEdit].email.enabled
                    this.message.email.send_to = this.data[this.indexEdit].email.send_to
                    //importante utilizar el toString() porque si no daría error ya que pasaría a ser un array en lugar de un string
                    this.idTelegram = this.data[this.indexEdit].telegram.send_to.toString()
                    this.message.telegram.enabled = this.data[this.indexEdit].telegram.enabled
                    this.message.teams.enabled = this.data[this.indexEdit].teams.enabled
                    this.message.teams.send_to = this.data[this.indexEdit].teams.send_to
                    this.headForm = "EVENTO DE ALARMA"
                    console.log(this.idTelegram)
                },
                async saveAlarm() {
                    try {
                        this.separarID()
                        //primero borramos el antiguo registro y luego le añadimos el nuevo
                        //para eso utilizamos el index que hemos guardado antes al darle a editar
                        this.data.splice(this.indexEdit, 1, this.message)
                        //AQUÍ IRA CON AXIOS.PUT, simplemente está puesto para ver que funciona
                        var res = await axios.post('https://alarmas.iniciasoluciones.es/vue-rest/post', this.data)
                        this.mounted();
                    } catch (err) {
                        console.log(err)
                    }
                },
                resetForm() {
                    this.message.event_key = ''
                    this.message.topic = ''
                    this.message.company_name = ''
                    this.message.email.send_to = ''
                    this.message.telegram.send_to = ''
                    this.message.teams.send_to = ''
                    this.message.email.enabled = false
                    this.message.telegram.enabled = false
                    this.message.teams.enabled = false
                    this.idTelegram = ''
                    this.headForm = 'NUEVO EVENTO DE ALARMA'
                },
                async sendAlarm() {
                    try {
                        this.separarID();
                        this.generarUUID();
                        console.log('Alarma añadida', this.message)
                        this.data.push(this.message)
                        var res = await axios.post('https://alarmas.iniciasoluciones.es/vue-rest/post', this.data)
                        // control para saber qué ha enviado
                        // En principio no es necesario utilizar este control porque el propio post ya te devuelve o el código 200 (todo ok) o el propio objeto enviado
                        console.log(this.data)
                        //Llamo otra vez a recoger la información con el GET para recargar
                        this.mounted()
                    } catch (err) {
                        console.log(err)
                    }
                },
                // Es importante utilizar el Async y el await porque simplifica mucho el tema de las callback
                // Además, todo lo que tenga que ver con get, post o cualquier cosa que sea factible de dar error, 
                //es importante meterlo en try-catch
                async mounted() {
                    try {
                        var res = await axios.get('https://alarmas.iniciasoluciones.es/vue-rest/data');
                        console.log(res);
                        //ponemos res.data porque es lo que nos interesa guardar
                        //si pusiesemos solo res nos guardaría también el header, status...
                        this.data = res.data;
                    } catch (err) {
                        console.log(err);
                    }
                },

                validEmail () {
                    var erEmail =/^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/
                    if (this.message.email.send_to != "" && !erEmail.test(this.message.email.send_to)) {
                        alert("El Email debe de estar en formato correcto")
                    } else if (this.message.email.enabled && this.message.email.send_to == "") {
                        alert("Debes indicar un Email")
                    }
                },

                validTelegram () {
                    var erTelegram =/^[0-9]/
                    if (this.idTelegram != "" && !erTelegram.test(this.idTelegram)) {
                        alert("El Telegram debe ser numérico")
                    } else if (this.message.telegram.enabled && this.idTelegram == "") {
                        alert("Debes indicar un Telegram")
                    }
                },

                validTeams () {
                    var erTeams = /^[0-9]/
                    if (this.message.teams.send_to != "" && !erTeams.test(this.message.teams.send_to)) {
                        alert("El Teams debe ser numérico")
                    } else if (this.message.teams.enabled && this.message.teams.send_to == "") {
                        alert("Debes indicar un Temas")
                    }
                },

                valid () {
                    var erEmail = /^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/
                    var erTelegram = /^[0-9]/
                    var erTeams = /^[0-9]/
                    //Email
                    if (this.message.email.send_to != "" && !erEmail.test(this.message.email.send_to)) {
                        alert("El Email debe de estar en formato correcto")
                    } else if (this.message.email.enabled && this.message.email.send_to == "") {
                        alert("Debes indicar un Email")
                    }
                    //Telegram
                    if (this.idTelegram != "" && !erTelegram.test(this.idTelegram)) {
                        alert("El Telegram debe ser numérico")
                    } else if (this.message.telegram.enabled && this.idTelegram == "") {
                        alert("Debes indicar un Telegram")
                    }
                    //Teams
                    if (this.message.teams.send_to != "" && !erTeams.test(this.message.teams.send_to)) {
                        alert("El Teams debe ser numérico")
                    } else if (this.message.teams.enabled && this.message.teams.send_to == "") {
                        alert("Debes indicar un Teams")
                    }
                }
            }
        })

    </script>

</body>

</html>